.header-section
	%h1 Design Craftsman Swap
	%h2 
		Tidbits from my time with Kevin, Michael, and Jen; the designers at 
		%a{:href => "http://www.thinkrelevance.com"} Think Relevance.
	%div
.intro-section
	.inner-container
		%h3 Durham, NC
		%p 
			I hadn't ever been to Durham, had never done a craftsman swap and I really wasn't entirely sure what to expect. All I knew was that I was excited to go and experience life in Durham for a week with Relevance and the amazing 
			%a{:href => "http://thinkrelevance.com/team/members/michael-parenteau"} Michael Parenteau, 
			%a{:href => "http://thinkrelevance.com/team/members/kevin-altman"} Kevin Altman, 
			and 
			%a{:href => "http://thinkrelevance.com/team/members/jen-myers"} Jen Myers.

.blog-snippet
	%p.day September 23rd
	%h3 Arrival in Durham
	%p
		I land in Durham somewhere around 5:00 PM and I find a cab. I think about how nice it is that there's no line, I'm handed a peice of paper with a cab number and tell my driver where I'm going. He's very nice and asks about me; where I'm from, what I'm doing in Durham, the usual. He complains about the traffic. I wonder, "what traffic?", we talk about Chicago for a while and then after about 10 minutes, we reach the hotel.
	%p
		I'm really tired from the flight, but hungry. I wonder if I should order room service or just go walk around downtown Durham and try to find something. From looking out my hotel window, I see no one is out, so food doesn't look too promising, but I go out anyway, opting for the adventure instead of hiding in my room.
	%p
		I wander the downtown area for a while. A couple places are open, most are closed. This must be how it is on Sunday nights. I go a different direction for a while and finally there are people. I also see food trucks, which is a lovely surprise. I find out that the area is a park and there is an Obama campaign party happening. I get in line for a sandwich at American Meltdown, eat on a park bench while listening to a band play, then walk back to the hotel enjoying the gorgeous weather.

.photo-section
	%img{:src => "/images/carolina-neon-sign.jpeg"}
	.photo-description
		%h4
			Carolina Theatre
		%p 
			A picture I took of the Carolina Theatre in downtown Durham right beside my hotel. I love neon signs.

.blog-snippet
	%p.day September 24th
	%h3 Day One at Relevance
	%p
		I'm up early, excited and ready to go. I don't want to get there before everyone else, so I wait around until a normal time to leave, giving myself time to find a coffee place. I search maps on my iPhone for "Relevance". I find there's not a coffee place near there, so I go a little off track and find one. It's getting close to 8:45AM, for some reason I decide to make sure I have the correct address. I don't.
	%p
		I go to the Relevance website, find the correct address then rush back the way I came. Michael patiently waits for me to do 9:06AM standup between the designers and I immediately start taking notes. I'm so excited to be there and I want to take in all of the information I can.
	%p.notes
		%em Note 1:
		Start off every morning with a designer standup, take notes, email the notes out to the design list. Have a time for discussion after everyone gives their update. Share snippets of design work with the company.
	%p
		I spent the morning with Michael. We worked on several things and had a few different Skype conversations with other designers and developers. As the creative director, on top of his design work, Michael spends a lot of time checking in with people and makes sure that they're doing alright and aren't blocked on anything. It was really awesome to see how many things he can juggle at once.
	%p
		A little after lunch I got to remote pair with Jen. We talked all during our call about CSS organization; how she likes to organize her CSS, how I like to, and how everyone has thier own way which makes it difficult to find things.
	%p
		After the day was over, (it happened so fast) we decided to meet at Fullsteam for drinks and grab something to eat from the food trucks. On top of being a local brewery, Fullsteam is a fun hangout with ping-pong tables and arcade games. We even had the opportunity to see a 3D printer in action.
	%p.notes
		%em Note 3:
		When time allows, and you feel the need, take some time to “play” with a feature and figure out how it could be better. Proposing some changes to the team could result in an overhaul of that feature that makes a huge difference in it's success, the application as a whole and most importantly, the user's happiness. So don't be afraid to rip things apart and put them back together in a more cohesive way.

.photo-section
	%img{:src => "/images/3d-printer.jpg"}
	.photo-description
		%h4
			3D Printer at Fullsteam Brewery
		%p 
			Fullsteam is an awesome brewery and hangout in Durham. There are arcade games, ping-pong tables, and food trucks right outside.

.blog-snippet
	%p.day September 25th
	%h3 Day Two at Relevance
	%p
		Luckily it's another gorgeous day out. I'm also lucky that Michael really likes coffee, because I'm bad at mornings, so I pretty much need it first thing. He makes pour-over in a Chemex before standup and I start to feel normal.
	%p
		I worked with Michael again for the morning. We did some ghost support on an application where we created a new branch and just helped out with some bits of HTML and CSS where we could.
	%p.notes
		%em Note 2:
		Place a UI Task Paper within the project's folder to keep a running list of UI cleanup tasks or display bugs that need to be addressed.
	%p 
		That afternoon I worked with Kevin for the first time. He had been in a kick-off meeting for the past day and a half so I had just met him quickly. We started working on some wireframes, but then found we really needed a conversation with Ben, the developer on the project. 
	%p
		We discussed what the app was supposed to do, who would be using it, and finished out the day working on the first couple of wireframes with a bit more confidence, something we couldn't have done well without the long talk we had with Ben that gave us so much clarity.

.photo-section
	%img{:src => "/images/chemex.jpg"}
	.photo-description
		%h4
			A Chemex for the morning
		%p 
			Almost every morning Michael made a pot of coffee in a Chemex. It just makes the day better. I really enjoy a ritual involving coffee.

.blog-snippet
	%p.day September 26th
	%h3 Day Three at Relevance
	%p
		After the much appreciated ritual of coffee and standup, I worked with Michael for a little while and then spent most of the day working with Kevin. We began brainstorming on the whiteboard, sketching with Balsamiq, and asking Ben more questions in order to gather the information we needed to work on wireframes.
	%p
		Some projects are just so complex and interesting that when you think you have the answers, you probably don't. It becomes so important to spend extra time figuring out what's needed and what's not. This was one of those projects, and it was so much fun working on a tough problem like this one with Kevin.
	%p
		You learn a lot about a person when working with them all day. I just met Michael and Kevin, but it wasn't very long before I felt like I had known them a long time. Some of us went out for some great mexican food and talked for quite a while out on thier patio.

.photo-section
	%img{:src => "/images/relevance-atrium.jpg"}
	.photo-description
		%h4
			Relevance Atrium
		%p 
			Area in the center of the Relevance office where light pours in from outside and fills the rooms around it.

.blog-snippet
	%p.day September 27th
	%h3 Day Four at Relevance
	%p
		Thursday was a good day. I paired with Michael again on another project. Kevin and I accomplished more wireframing. We understood the goals of the app a lot more. We focused on getting our ideas out so that when Kevin was away the next week, Michael would be able to pick up where we left off.
	%p
		After a busy day of thinking and disussion, we made plans to order pizza and chill at the office. We went out for a drink and called it a night. I started to come to the realization that it was my last night in Durham, but I had become attached to this amazing group of people.
	%p.notes
		%em Note 4:
		Need to figure out how to see these people that live so far away more often. Once a year will not be good enough.

.photo-section
	%img{:src => "/images/arcade.jpg"}
	.photo-description
		%h4
			The American Underground Arcade
		%p 
			On the way to lunch on Friday, we stopped by American Underground; a huge workspace for startups. Amoung all of the fun things in the space is a free arcade.		

.blog-snippet
	%p.day September 28th
	%h3 Day Five at Relevance
	%p
		Fridays at Relevance is free time. Time to learn things that you want to learn and work on open source. I mostly just wanted to see what everyone was working on and help anyone that needed it.
	%p
		Most of us went out for lunch and on our way they showed me American Underground, a huge space for startups to work. Each of the glass walled offices had their own style and the names of the companies were projected on the floor of the hallway that we walked through. There was also a small arcade with free games to play so we stopped there for a few minutes. When we got outside where the restaurant was, I learned a little about the Lucky Strike factory, which is now offices. We talked about all kinds of things and ate amazing food at L'Uva, then went back to the office. 
	%p
		Kevin started working on a infographic poster in illustrator based on the things he had done that week. His Illustrator skills are unbelieveable. I could learn a lot from him. It wasn't long until it was time to head to the airport. Kevin gave me a ride and after checking my bag and going through security, I made it to my gate where there was some karoke going on. Unfortunately no one was volunteering, so if fizzled out pretty quickly. As soon as we began boarding, someone started singing “Leaving on a Jet Plane”.
	%p
		The flight back to Chicago felt long and while I was happy to be going home, I was sad to leave Durham and all the people I had just met. I was super anxious on the plane with my head full of all of the things I had learned that week and all the things I wanted to do when I reached solid ground. 

.photo-section
	%img{:src => "/images/lucky-strike.jpg"}
	.photo-description
		%h4
			The old Lucky Strike Factory
		%p 
			The site of the late 1800's factory is now offices, but the old signage is still up, as is the case with a lot of the buildings in Durham. It's so nice that there are so many left.

.ending-section
	.inner-container
		%h3 Chicago, IL
		%p 
			After spending a week at Relevance, I couldn't wait to work with the awesome 
			%a{:href => "http://thinkrelevance.com/team/members/kevin-altman"}Kevin Altman 
			for one more week at 
			%a{:href => "http://8thlight.com"} 8th Light 
			in Chicago.
		%p 
			To be continued…
