.header-section
	%h1 Design Craftsman Swap
	%h2 
		The story of my time with Kevin, Michael, and Jen; the designers at 
		%a{:href => "http://www.thinkrelevance.com"} Think Relevance.
	.circle
.intro-section
	.inner-container
		%h3 Durham, NC
		%p 
			I had never been part of a craftsman swap, had never worked in a software development shop other than 
			%a{:href => "http://8thlight.com"} 8th Light, 
			and I really wasn't entirely sure what to expect. All I knew was that I was excited to go and experience life in Durham for a week with Relevance and the amazing 
			%a{:href => "http://thinkrelevance.com/team/members/michael-parenteau"} Michael Parenteau, 
			%a{:href => "http://thinkrelevance.com/team/members/kevin-altman"} Kevin Altman, 
			and 
			%a{:href => "http://thinkrelevance.com/team/members/jen-myers"} Jen Myers.

.blog-snippet
	%p.day September 23rd
	%h3 Arrival in Durham
	%p
		I land in Durham somewhere around 5:00 PM and I find a cab. I think about how nice it is that there's no line, I'm handed a peice of paper with a cab number and tell my driver where I'm going. He's very nice and asks about me; where I'm from, what I'm doing in Durham, the usual. He complains about the traffic. I wonder, “what traffic?”, we talk about Chicago for a while and then after about 10 minutes, we reach the hotel.
	%p
		I'm really tired from the flight, but hungry. I wonder if I should order room service or just go walk around downtown Durham and try to find something. From looking out my hotel window I see no one is out, so food doesn't look too promising. I decide go out anyway, opting for the adventure instead of hiding in my room.
	%p
		I wander the downtown area for a while. Two or three places are open, most are closed. This must be how it is on Sunday nights. I go a different direction for a while and finally there are people. I also see food trucks, which is a lovely surprise. I find out that the area is a park and there is an Obama campaign party happening. I get in line for a sandwich at the American Meltdown truck, eat on a park bench while listening to a band play, then walk back to the hotel enjoying the gorgeous weather.

.photo-section
	.photo-container
		%a{:href => "http://instagram.com/p/P7-Jhwmfkg/"}
			%img{:src => "/images/carolina-neon-sign.jpeg"}
		.photo-description
			%h4
				Carolina Theatre
			%p
				A photo of the Carolina Theatre in downtown Durham right beside my hotel. I love neon signs.

.blog-snippet
	%p.day September 24th
	%h3 Day One at Relevance
	%p
		I'm up early, excited and ready to go. I don't want to get there before everyone else, so I wait around until a normal time to leave, giving myself time to find a coffee place. I search maps on my iPhone for "Relevance". I find there's not a coffee place near there, so I go a little off track and find one. It's getting close to 8:45AM, for some reason I decide to make sure I have the correct address. I don't.
	%p
		I go to the Relevance website, find the correct address then rush back the way I came. Michael patiently waits for me to do 9:06AM standup between the designers and I immediately start taking notes. I'm so excited to be there so I want to take in all of the information I can.
	%p.notes
		%em Note 1:
		Start off every morning with a designer standup, take notes, email the notes out to the design list. Have a time for discussion after everyone gives their update. Share snippets of design work with the company.
	%p
		I spend the morning with Michael Parenteau. We work on several different projects and have a few different Skype conversations with other designers and developers. As the creative director, on top of his design work, Michael spends a lot of time checking in with people and makes sure that they're doing alright and aren't blocked on anything. It's really impressive the amount of things he can juggle at once.
	%p
		A little after lunch I remote pair on a Rails app with Jen. We talk all during our call about CSS organization; how she likes to organize her CSS, how I like to, and how everyone has thier own way which makes it difficult to find things. We work great together.
	%p
		After the day is over, (it happened so fast) we decide to meet at Fullsteam for drinks and grab something to eat from the food trucks. On top of being a local brewery, Fullsteam is a fun hangout with ping-pong tables and arcade games. It just has a great vibe. We even get the opportunity to see a 3D printer in action, a first for me.
	%p.notes
		%em Note 2:
		When time allows and there's a need, take some time to “play” with a feature and figure out how it can be improved. Propose your ideas to the team. It could make all the difference in the product's success and to the user's happiness. So don't be afraid to pull things apart and put them back together in a more solid way.

.photo-section
	.photo-container
		%a{:href => "http://instagram.com/p/P-kHwhmflR/"}
			%img{:src => "/images/3d-printer.jpg"}
		.photo-description
			%h4
				3D Printer at Fullsteam Brewery
			%p 
				Fullsteam is an awesome brewery and hangout in Durham. There are arcade games, ping-pong tables, and food trucks right outside.
			%p
				%a{:href => "https://twitter.com/fullsteam"} @fullsteam

.blog-snippet
	%p.day September 25th
	%h3 Day Two at Relevance
	%p
		Luckily it's another gorgeous day out. I'm also lucky that Michael really likes coffee, because I'm bad at mornings, so I pretty much need it first thing. He makes pour-over in a Chemex before standup and I start to feel normal.
	%p
		I work with Michael again for the morning. We do some ghost support on an application where we create a new branch and just help out with some bits of HTML and CSS where we can.
	%p.notes
		%em Note 3:
		Place a UI Task Paper within the project's folder to keep a running list of UI cleanup tasks or display bugs that need to be addressed.
	%p 
		That afternoon I work with Kevin Altman for the first time. He had been in a kick-off meeting for the past day and a half so I had just met him quickly. We start working on some wireframes, but then come to the realization that we really need a conversation with Ben, the developer on the project. 
	%p
		We spend quite a while discussing what the app is supposed to do, who would be using it, and finish out the day working on the first couple of wireframes with a bit more confidence, something we couldn't have done well without the long talk with Ben that gave us so much clarity.

.photo-section
	.photo-container
		%a{:href => "http://instagram.com/p/P__qrPmfhS/"}
			%img{:src => "/images/chemex.jpg"}
		.photo-description
			%h4
				A Chemex for the morning
			%p 
				Almost every morning Michael made a pot of coffee in a Chemex. It just makes the day better. I'm all for a ritual involving coffee.

.blog-snippet
	%p.day September 26th
	%h3 Day Three at Relevance
	%p
		After the much appreciated ritual of coffee and standup, I work again with Michael for a little while and then spend the second part of the day working with Kevin. We start brainstorming on the whiteboard, do some sketching with Balsamiq, and ask Ben more questions in order to gather the information we need to work on wireframes.
	%p
		Some projects are just so complex and interesting that just when you think you have the answers, you probably don't. It becomes so important to spend extra time figuring out what's needed and what's not. This was one of those projects, and it was so much fun working on a tough problem like this one with Kevin.
	%p
		You learn a lot about a person when working with them all day. I had just met Michael and Kevin, but it wasn't very long before I felt like I had known them a long time. 
	%p
		Some of us go out after work for some great mexican food and talk for quite a while out on the patio.

.photo-section
	.photo-container
		%a{:href => "http://instagram.com/p/P9wTSVGfg9/"}
			%img{:src => "/images/relevance-atrium.jpg"}
		.photo-description
			%h4
				Relevance Atrium
			%p 
				An area in the center of the Relevance office where light pours in from outside and fills the rooms around it. The office is amazing.

.blog-snippet
	%p.day September 27th
	%h3 Day Four at Relevance
	%p
		This morning I pair with Michael again. Later Kevin and I accomplish more wireframing. It's a good day. One of those really productive ones. We understand the goals of the app a lot more. We've focused on getting our ideas out so that when Kevin is away next week, Michael will be able to pick up where we leave off.
	%p
		After a busy day of thinking and disussion, we make some plans to order pizza and chill at the office. We talk about how Kevin and I were both at Nordic Ruby and took the same photo, watch some YouTube videos and have a good time. Later we go out for a drink at a new speakeasy named after the alley it's next to then call it a night. I get to my hotel and start to realize that it's my last night in Durham. I have become so attached to this group of people.
	%p.notes
		%em Note 4:
		Need to figure out how to see all these people that live so far away more often. Once a year will not be good enough.

.photo-section
	.photo-container
		%a{:href => "http://instagram.com/p/QIAQsXmfia/"}
			%img{:src => "/images/arcade.jpg"}
		.photo-description
			%h4
				The American Underground Arcade
			%p 
				On the way to lunch on Friday, we stopped by American Underground; a huge workspace for startups. They have a free arcade, so obviously we had to stop.

.blog-snippet
	%p.day September 28th
	%h3 Day Five at Relevance
	%p
		Fridays at Relevance are 20% time. Time to learn things that you want to learn and work on whatever. There are donuts and coffee when I get there.
	%p
		At around noon, most of us head out for lunch. We walk over to the old tabacco warehouse area. On our way they show me American Underground, a huge space for startups to work. Each of the glass walled offices have their own style and the names of the companies are projected on the floor of the hallways that we walk through. There's also a small arcade with free games to play so we stop there for a few minutes. When we get outside where the restaurant is, I learn a little about the Lucky Strike factory, which is now office space. We talk about all kinds of things and eat amazing food at L'Uva, then make our way back to the office. 
	%p
		Kevin starts working on a poster in illustrator based on the things he's done this week. His Illustrator skills are unbelieveable. I could learn a lot from him. It wasn't long until it was time to for me to head to the airport. Kevin gives me a ride and after checking my bag and going through security, I make it to my gate where there is some karoke going on. Unfortunately no one is volunteering, so it fizzles out pretty quickly. I listen to Molly Ringwald's story on The Moth. As soon as we begin boarding, someone starts to sing “Leaving on a Jet Plane”.
	%p
		The flight back to Chicago feels incredibly long. While I'm happy to be going home, I'm also sad to leave Durham and all the people I've met and have just started to get to know. I'm super anxious on the plane with my head full of all of the things I have learned this week and all the things I want to do when I reach solid ground.

.photo-section
	.photo-container
		%a{:href => "http://instagram.com/p/QIBR7xGfjY/"}
			%img{:src => "/images/lucky-strike.jpg"}
		.photo-description
			%h4
				The old Lucky Strike Factory
			%p
				The site of the late 1800's factory is now offices, but the old signage is still up, as is the case with a lot of the buildings in Durham. It's so nice that there are so many left.
.circle
.ending-section
	.inner-container
		%h3 Chicago, IL
		%p 
			After spending a week at Relevance, I couldn't wait to work with the awesome 
			%a{:href => "http://thinkrelevance.com/team/members/kevin-altman"}Kevin Altman 
			for one more week at 
			%a{:href => "http://8thlight.com"} 8th Light 
			in Chicago.
		%p 
			To be continued…
